/* Header styles */
.header-frame {
    height: max(108px, 8vh);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 65%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 100%);
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background 1s ease-in-out, opacity 0.5s ease-in-out;
    font-family: "Oswald", sans-serif;
}

.header-frame.menu-open {
    background: transparent !important;
}

.header-frame:hover {
    opacity: 1;
}

.header-frame.scrolled {
    opacity: 0.5;
}

.header-frame.scrolled:hover {
    opacity: 1;
}

.leftBox {
    /*border: 1px solid red;*/
    height: 70%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.rightBox {
    height: 70%;
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 3;
    /*border: 1px solid red;*/
}

.menuButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    gap: 15px;
    /*border: 1px solid red;*/
}

.menuText {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    transition: scale 0.3s ease, color 0.3s ease;
    /*border: 1px solid red;*/
}

.menuText:hover {
    scale: 1.1;
    color: gray;
    cursor: pointer;
}

.responsive-image {
    width: 80%;
    aspect-ratio: 1/1;
}

.hamburger-menu {
    font-size: 32px;
    padding: 0 10px;
    cursor: pointer;
    display: block;
    color: white;
}

.mobile-menu {
    position: absolute;
    right: 0;
    padding: max(108px, 10svh) 0 15px 0;
    gap: 5px;
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer styles */
.footer-frame {
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0,0,0,1);
    z-index: 1000;
    margin-bottom: 0px;
}

.box1-3 {
    height: auto;
    flex-grow: 1;
    flex-basis: 0;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}

.box1-3-row{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footerText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgb(255,255,255);
    text-align: center;
    max-width: 300px;
}
.footer-mainText {
    font-style: normal;
    font-weight: 650;
    font-size: 40px;
    Line-height: 100%;
    color: white;
    text-align: center;
}

.logo{
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 640px) {
    .menuText {
        font-size: 14px;
    }

    .footer-frame {
        flex-direction: column;
        height: fit-content;
    }

    .box1-3 {
        width: 70%;
    }

    .menuButton {
        display: none;
    }

    .box1-3:nth-child(1) {
        order: 2;
    }
    
    .box1-3:nth-child(2) {
        order: 1;
    }
    
    .box1-3:nth-child(3) {
        order: 3;
    }
}