.campMainBox{
  min-height: 100vh;
  padding: 20px auto;
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}