.courseMainBox {
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 1px solid red;
  background-color: black;*/
  background: #000000;
  background: -webkit-linear-gradient(195deg, #000000 0%, #656565 50%, #000000 100%);
  background: linear-gradient(195deg, #000000 0%, #656565 50%, #000000 100%);
}

.imageGalleryWrapper{
  padding-top: 100px;
  width: 95%;
}


