/* --------- Image box for the main section --------- */
.mainImageBox {
  height: 100svh;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainImageBox-media {
  height: 100svh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainImageBox::after, .mainImageBox-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top,
        rgba(10, 10, 10, 0.8) 0%,
        rgba(10, 10, 10, 0.2) 10%,
        rgba(10, 10, 10, 0.0) 20%
        );
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%);
}

.mainOverlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}

.mainOverlay h1 {
  font-size: clamp(1.8em, 3.3vw, 3em);
  font-weight: 900;
  font-style: oblique;
  text-align: center;
  transition: font-size 0.3s ease-in-out;
  position: relative;
  
  padding: 5px;
  letter-spacing: -1.5px;
  color: black;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.mainOverlay h1::before {
  content: attr(data-text);
  position: absolute;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  width: 100%;

  top: -0.5rem;
  left: -0.8rem;
  color: white;
  -webkit-text-stroke: 2px black;
  z-index: 0;
}

.mainOverlay h2 {
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  transform: translateY(-20px);
  color: white;
  width: min(90%, 1100px);
  font-size: clamp(1rem, 2vw, 1.2rem);
  letter-spacing: 1px;
  font-style: italic;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-shadow:
        2px 2px 0 rgba(0, 0, 0, 1);
}

.mainImageBox .mainImageBox-scrollButton {
  bottom: 5svh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  width: 100svw;
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
  text-shadow:
        2px 2px 0 rgba(0, 0, 0, 1);
}

.mainImageBox .mainImageBox-scrollButton:hover{
  opacity: 0.7;
  cursor: pointer;
  transform: translateY(5px) translateX(-50%);
  padding-top: 20px;
}

.mainGradient{
  position: absolute;
  top: 100svh;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}