body{
  font-display: swap;
  margin: 0;
  background-color: black;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

a {
    color: lightgray;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

:root {
  --headerFooterBackgroundColor: rgba(0, 0, 0, 0.4);
  --secondary-color: #6c757d;
  --text-color: #333;
  --spacing-unit: 16px;
  --border-radius-base: 8px;
}