.courseMainBox {
  min-height: 100svh;
  width: 100svw;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.courseMainBox::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-container {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
}

/* --------- Arrow section --------- */
.arrowSection {
  width: 100%;
  max-width: 1400px;
  padding: 0 10%;
  margin: 40px auto 20px;
  min-height: 200px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrowSectionBox {
  flex: 1;
  min-height: 230px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px;
}

.arrowSectionBox h2{
  letter-spacing: 4px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;
  margin: 0;
}

.arrowSectionBox span{
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 700px) {
  .arrowSection {
    flex-direction: column;
  }
  .arrowSectionBox {
    min-height: 100px;
    width: 100%;
  }
}

/* --------- Text section --------- */
.courseMainContainer {
  width: 100%;
  max-width: 1400px;
  padding: 0 10%;
  margin: auto;
  min-height: 200px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.courseTextBox{
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  font-size: 1.2em;
  padding: max(20px, 2%);
  margin-top: 200px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.courseTextBox img {
  position: absolute;
  top: -32%;
  left: 82%;
  height: 80%;
  width: auto;
  border-radius: 10px;
  z-index: 1;
}

.courseTextBox h1 {
  width: 80%;
  text-align: left;
  margin: 0;
  letter-spacing: 7px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;
}

.courseTextBox h2 {
  width: 80%;
  text-align: left;
  margin: 0 0 20px;
  letter-spacing: 6px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  font-style: normal;
}

.courseTextBoxDescription{
  width: 80%;
}

.courseTextBox p {
  font-size: 0.8em;
  text-align: justify;
}

.coursePoint {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.coursePointIcon {
  width: max(40px, 6%);
  padding-top: 15px;
  font-size: 3em;
}

.coursePointText {
  width: 100%;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

.coursePointText h3 {
  text-align: left;
  margin: 0;
  letter-spacing: 4px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1200px) {
  .courseMainContainer{
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .courseTextBox{
    width: 76%;
    margin-top: 40px;
  }

  .courseTextBox img {
    visibility: hidden;
  }
  .courseMainBox h2, .courseMainBox h1, .courseTextBoxDescription{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .courseTextBox{
    width: 80%;
  }
}
/* --------- contact form for the course section --------- */
.contact-form-absolute {
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 60%;
  width: 50%;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  border: 1px solid red;
}


