.gymMainBox{
  min-height: 100vh;
  padding: 20px auto;
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* --------- Text box for the gym section --------- */
.gymTextBox{
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10svh;

  padding: var(--glass-padding);
  background-color: var(--glass-bg);
  border-top: var(--glass-border);
  border-left: var(--glass-border);
  backdrop-filter: var(--glass-blur);
  border-radius: var(--glass-radius);
}

@media (max-width: 768px) {
  .gymFormWrapper{
    width: 90%;
    padding: 15px 20px;
    margin: 0 auto;
  }

  .gymDescription {
    font-size: 1em;
    line-height: 1.5;
  }

  .gymTextBox{
    width: 90%;
  }
}