body{
  margin: 0;
  background-color: black;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gymMainBox{
  min-height: 100%;
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* --------- Image box for the gym section --------- */
.gymImageBox {
  height: 40vh;
  padding-top: 108px;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.8s ease-in-out;
}

.gymImageBox:hover {
  height: 60vh;
}

.gymImageBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  background: linear-gradient(to top,
        rgba(10, 10, 10, 0.8) 0%,
        rgba(10, 10, 10, 0.2) 10%,
        rgba(10, 10, 10, 0.0) 20%
        );
  pointer-events: none;
}

.gymOverlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gymTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  transition: font-size 0.3s ease-in-out;
  color: white;
  padding: 5px;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

.gymTitle {
  font-size: clamp(1.8em, 3vw, 3.5em);
  font-weight: bold;
  text-align: center;
  transition: font-size 0.3s ease-in-out;
  color: white;
  padding: 5px;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

.gymDescription {
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  transform: translateY(-20px);
  text-align: center;
  color: white;
  width: min(100%, 1400px);
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 10px;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

/* --------- Form styles for the gym section --------- */
.gymFormWrapper{
    width: 80%;
    max-width: 600px;
    background-color: rgba(0,0,0,0.3);;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 50px 10%;
    box-sizing: border-box;
}

.gymForm {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gymFormTitle {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: bold;
}

.gymForm input {
    background: none;
    width: calc(100% - 20px);
    padding: 12px 10px;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    border-radius: 5px;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gymForm input:-webkit-autofill,
.gymForm input:-webkit-autofill:hover,
.gymForm input:-webkit-autofill:focus,
.gymForm input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Big transparent shadow to cover autofill background */
    -webkit-text-fill-color: white !important; /* Keep text color white */
    background-color: transparent !important; /* Ensure background is transparent */
    background-image: none !important; /* Remove any potential background image */
    transition: background-color 50000s ease-in-out 0s; /* Long transition to prevent background change */
}

.gymForm textarea {
    background: none;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    width: calc(100% - 20px);
    padding: 12px 10px;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    border-radius: 5px;
    min-height: 120px;
    resize: vertical;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    /* Custom Scrollbar Styles for Webkit browsers */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.gymForm input::placeholder, .gymForm textarea::placeholder{
    color: rgba(255,255,255,0.5);
    background: none;
}

.gymForm input:focus, .gymForm textarea:focus{
    border: 2px solid rgba(255,255,255,0.6);
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
    outline: none;
}

/* Button styles for the gym section */
.gymButton {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    align-self: center;
    width: 100%;
}

.gymButton:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
}

.gymButton:active {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(0.99);
}

@media (max-width: 768px) {
  .gymDescription {
    font-size: 1em;
    line-height: 1.5;
  }
}