body{
  margin: 0;
  background-color: black;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

.gymMainBox{
  min-height: 100vh;
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* --------- Image box for the gym section --------- */
.gymImageBox {
  height: 40vh;
  width: 100%;
  padding-top: 108px;
  margin-bottom: 20vh;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.8s ease-in-out;
}

.gymImageBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  background: linear-gradient(to top,
        rgba(10, 10, 10, 0.8) 0%,
        rgba(10, 10, 10, 0.2) 10%,
        rgba(10, 10, 10, 0.0) 20%
        );
  pointer-events: none;
}

.gymOverlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gymTitle {
  font-size: 3rem;
  font-weight: bold;
  transition: font-size 0.3s ease-in-out;
  color: white;
  padding: 5px;
}

.gymTitle {
  font-size: clamp(1.8em, 3vw, 3em);
  font-weight: bold;
  text-align: center;
  transition: font-size 0.3s ease-in-out;
  color: white;
  padding: 5px;
}

.gymDescription {
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  transform: translateY(-20px);
  color: white;
  width: min(100%, 1100px);
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.Arrow {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    border: none;
    padding: 0;
    font-family: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Arrow:hover {
    color: #007bff;
    transform: translateY(5px);
}

/* --------- Text box for the gym section --------- */
.gymTextBox{
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------- Form styles for the gym section --------- */
.gymFormWrapper{
    width: 80%;
    max-width: 600px;
    background-color: rgba(0,0,0,0.3);;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 50px auto;
    box-sizing: border-box;
}

/* --------- Chcek Also styles for the gym section --------- */
.gymCheckAlsoContainer {
    width: calc(100% - 20px);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.gymCheckAlsoBox {
    width: 100%;
    min-height: min(104px, 10vh);
    height: fit-content;
    box-sizing: border-box;
    align-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    color: white;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.7) 80%,
        rgba(0, 0, 0, 1) 100%
        );
    border-radius: 10px 10px 0px 0px;
    transition: background 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.3s ease-in-out;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 5px;
}

.gymCheckAlsoBox:hover {
    background-color: black;
    transform: scale(1.02);
    color: gray;
}

@media (max-width: 768px) {
  .gymImageBox {
    height: 100vh;
    margin-bottom: 10vh;
    padding: 0;
  }
  .gymFormWrapper{
    width: 90%;
    padding: 15px 20px;
    margin: 0 auto;
  }

  .gymDescription {
    font-size: 1em;
    line-height: 1.5;
  }

  .gymCheckAlsoContainer {
    flex-direction: column;
    background: rgba(0, 0, 0, 1);
    border-radius: 10px 10px 0px 0px;
    margin-top: 10vh;
  }

  .gymCheckAlsoBox {
    color: white;
    border: none;
    background: none;
    border-radius: 0;
    min-height: 5vh;
  }
}